language: php
php:
  - "7.2"
  - "7.1"
  - "5.6"
  - "5.5"
  - "5.4"

matrix:
  include:
    - php: 5.2
      dist: precise
    - php: 5.3
      dist: precise

before_script:
  - composer install

script: phpunit --configuration phpunit.xml --coverage-text